<h1>Add Todo</h1>
<div class="container">
<div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter Valid Values</div>
<div class="alert alert-warning" *ngIf="targetDate.dirty && targetDate.invalid">Enter Valid Target Date</div>
<div class="alert alert-warning" *ngIf="description.dirty && description.invalid">Enter atleast 4 characters in Description</div>

  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm ="ngForm">
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" #description = "ngModel"
      [(ngModel)]="todo.description" class="form-control" id="description" 
      name="description" minlength="4" required>
    </div>

    <div class="form-group">
      <label for="targetDate">Target Date</label>
      <input type="date" #targetDate = "ngModel"
       [(ngModel)]="todo.targetDate"
       (ngModelChange)="todo.targetDate = $event" 
       class="form-control" id="targetDate" name="targetDate" required>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>

